<h1>Library Management System</h1>
<nav>
  <ul>
    <li>
      <a href="/bookstores">Bookstores</a>
    </li>
    <li>
      <a href="/authors">Authors</a>
    </li>
    <li>
      <a href="/books">Books</a>
    </li>
    <li>
      <a href="/collections">Collections</a>
    </li>
  </ul>
</nav>
