<h1>Authors</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Surname</th>
    <th>Created at </th>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.surname %></td>
        <td><%= author.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
