// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-family: "Zilla Slab";
}

table {
	width: 100%;
}

.application-container {
	max-width: 50rem;
	margin: 1rem auto;

	h1 {
		text-align: center;
	}
}
