// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-size: 1.2rem;
	font-family: "Zilla Slab", serif;
}

table {
	width: 100%;
	text-align: center;
}

.application-container {
	max-width: 51rem;
	margin: 1rem auto;

	h1 {
		text-align: center;
		font-size: 2rem;
	}
}
