/* zilla-slab-regular - latin */
@font-face {
	font-family: "Zilla Slab";
	font-style: normal;
	font-weight: 400;
	src: font-url(
		"fonts/zilla-slab-v4-latin-regular.eot"
	); /* IE9 Compat Modes */
	src: local("Zilla Slab"), local("ZillaSlab-Regular"),
		font-url("fonts/zilla-slab-v4-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ font-url("fonts/zilla-slab-v4-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			font-url("fonts/zilla-slab-v4-latin-regular.woff") format("woff"),
		/* Modern Browsers */ font-url("fonts/zilla-slab-v4-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			font-url("fonts/zilla-slab-v4-latin-regular.svg#ZillaSlab")
			format("svg"); /* Legacy iOS */
}

/* zilla-slab-500 - latin */
@font-face {
	font-family: "Zilla Slab";
	font-style: normal;
	font-weight: 500;
	src: font-url("fonts/zilla-slab-v4-latin-500.eot"); /* IE9 Compat Modes */
	src: local("Zilla Slab Medium"), local("ZillaSlab-Medium"),
		font-url("fonts/zilla-slab-v4-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ font-url("fonts/zilla-slab-v4-latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			font-url("fonts/zilla-slab-v4-latin-500.woff") format("woff"),
		/* Modern Browsers */ font-url("fonts/zilla-slab-v4-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			font-url("fonts/zilla-slab-v4-latin-500.svg#ZillaSlab")
			format("svg"); /* Legacy iOS */
}

/* zilla-slab-700 - latin */
@font-face {
	font-family: "Zilla Slab";
	font-style: normal;
	font-weight: 700;
	src: font-url("fonts/zilla-slab-v4-latin-700.eot"); /* IE9 Compat Modes */
	src: local("Zilla Slab Bold"), local("ZillaSlab-Bold"),
		font-url("fonts/zilla-slab-v4-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ font-url("fonts/zilla-slab-v4-latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			font-url("fonts/zilla-slab-v4-latin-700.woff") format("woff"),
		/* Modern Browsers */ font-url("fonts/zilla-slab-v4-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			font-url("fonts/zilla-slab-v4-latin-700.svg#ZillaSlab")
			format("svg"); /* Legacy iOS */
}
